<ion-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="yo@gmail.com" ng-model="loginData.username">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="mi clave SECRETA" ng-model="loginData.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-positive button-block" ng-click="Loguear()">Entrar</button>
      <button class="button button-assertive button-block" ng-click="Logout()" ng-if="estaLogueado=='si'">Salir</button>
      <button class="button button-balanced button-block" ng-click="Resetear()">
        Resetear password
      </button>
      <button class="button button-energized button-block" ng-click="Verificar()">
        Verificar email
      </button>
      <button class="button button-royal button-block" ng-click="Crear()">
        Crear cuenta nueva
      </button>
    </div>
  </ion-content>
</ion-view>